.title {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAD9A1;
}

.title-text{
    display: flex;
    margin-left: 10px;
}
.userinfo {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAD9A1;
}

.body-content {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box {
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.grid {
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    color: #FFD8A9;
}

.card {
    cursor: pointer;
}

.card-content {
    background-color: #FAD9A1;
}